.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #F9F8F8;
  background-image: url("../../public/background.png");
  background-repeat: no-repeat;
  background-position: center;
}